#heroSvg {
    transform: translateY(0px);
    animation: heroBounce infinite 2s;
}


@keyframes heroBounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);

    }

    100% {
        transform: translateY(0px);

    }
}