@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Tags */
.ReactJS {
  border: 0.1rem solid rgb(97, 218, 251);
}
.ReactJS:hover {
  background: rgba(97, 218, 251, 0.25);
}
/* use green shade for mysql */
.MySql {
  border: 0.1rem solid rgb(0, 207, 21);
}
.MySql:hover {
  background: rgba(0, 207, 21, 0.25);
}
.Sequelize {
  border: 0.1rem solid rgb(0, 123, 255);
}
.Sequelize:hover {
  background: rgba(0, 123, 255, 0.25);
}
.Prime-React {
  border: 0.1rem solid rgb(0, 157, 255);
}
.Prime-React:hover {
  background: rgba(0, 157, 255, 0.25);
}
.NodeJS {
  border: 0.1rem solid rgb(93, 160, 12);
}
.NodeJS:hover {
  background: rgba(93, 160, 12, 0.25);
}
.Express {
  border: 0.1rem solid rgb(42, 133, 0);
}
.Express:hover {
  background: rgba(42, 133, 0, 0.25);
}

.MongoDB {
  border: 0.1rem solid rgb(67, 153, 52);
}
.MongoDB:hover {
  background: rgba(67, 153, 52, 0.25);
}

.Redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.Redux:hover {
  background: rgba(118, 74, 188, 0.25);
}
.Recoil {
  border: 0.1rem solid rgb(118, 74, 188);
}
.Recoil:hover {
  background: rgba(118, 74, 188, 0.25);
}

.razorpay {
  border: 0.1rem solid rgb(82, 143, 240);
}
.razorpay:hover {
  background: rgba(82, 143, 240, 0.25);
}

.Material-UI {
  border: 0.1rem solid rgb(25, 118, 210);
}
.Material-UI:hover {
  background: rgba(25, 118, 210, 0.25);
}

.Bulma {
  border: 0.1rem solid rgb(0, 209, 178);
}
.Bulma:hover {
  background: rgb(0, 209, 178, 0.25);
}

.NextJS {
  border: 2px solid rgb(0, 112, 243);
}
.NextJS:hover {
  background: rgba(0, 112, 243, 0.25);
}

.Chakra-UI {
  border: 2px solid rgb(0, 243, 101);
}
.Chakra-UI:hover {
  background: rgba(0, 243, 101, 0.25);
}

.SSG {
  border: 2px solid rgb(21, 116, 61);
}
.SSG:hover {
  background: rgba(21, 116, 61, 0.25);
}

.SSR {
  border: 2px solid rgb(177, 101, 50);
}
.SSR:hover {
  background: rgba(177, 101, 50, 0.25);
}

.Programatic-SEO {
  border: 2px solid rgb(59, 116, 21);
}
.Programatic-SEO:hover {
  background: rgba(59, 116, 21, 0.25);
}

.Tailwind-UI {
  border: 2px solid rgb(6, 182, 212);
}
.Tailwind-UI:hover {
  background: rgba(6, 182, 212, 0.25);
}

.React-query {
  border: 2px solid rgb(255, 65, 84);
}
.React-query:hover {
  background: rgba(255, 65, 84, 0.25);
}

.Css-Modules {
  border: 2px solid rgb(21, 114, 182);
}
.Css-Modules:hover {
  background: rgba(21, 114, 182, 0.25);
}

.SASS {
  border: 2px solid rgb(255, 65, 84);
}
.SASS:hover {
  background: rgba(255, 65, 84, 0.25);
}
.Javascript {
  border: 2px solid rgb(220, 255, 65);
}
.Javascript:hover {
  background: rgba(220, 255, 65, 0.25);
}
